/**
 * Primary styles
 *
 * Author: 
 */

/** Font styles 
---------------------------------*/

body {
  font-family: "Helvetica Neue", Helvetica, Verdana, Sans-Serif;
  letter-spacing:0.01em;
}

/* Titles  */

h1, h2, h3, h4, h5, h6 {line-height:1em; margin-bottom:5px;}

h1 {
	font-size: 2.2em;
	font-weight:800;
	padding: 0 0 0.5em;
	margin: 0;
}

h2 {font-size:1.8em;font-weight:600;}
h3 {font-size:1.4em;font-weight:400;}
h4 {font-size:1.2em;font-weight:400;}
h5 {font-size:1.1em;font-weight:400;}
h6 {font-size:1em;font-weight:bold;}


header {
  min-height:120px;
}
/*******************/
/* DRUPAL MESSAGES */
/******************/

div.mess {
  padding: 5px 10px;
	line-height:normal;
} 

div.messages a:link,
div.messages a:visited,
.help a:link,
.help a:visited,
.help .more-help-link a:link,
.help .more-help-link a:visited {
  color: #0066B3;
}

div.messages a:hover,
div.messages a:active,
.help a:hover,
.help a:active,
.help .more-help-link a:hover,
.help .more-help-link a:active {
  color: #000;
}

div.messages,
div.messages.status,
#order-confirmation-warning {
  background-color: #EAF8E4;
  border: 2px solid #8DC478;
  color: #3E642F;
  font-weight: normal;
  font-size: 16px;
  margin: 10px 0;
  overflow: visible;
  padding: 14px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
	line-height:normal;
}

div.messages.warning,
#order-confirmation-warning {
  background: #FFFFDD;
  border: 2px solid #EED300;
  color: #745500;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

#order-confirmation-warning{
	width:auto;
	background:url("../images/icon-recall.png") no-repeat scroll left center #FFFFDD;
	padding-left:35px;
}

div.messages a {
}

div.messages ul {
  list-style-position: inside;
}

div.messages em {
  color: #555;
}

div.error {
  background-color: #FFF2F2;
  border-color: #CC0000;
  color: #B20000;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

/*******************/
/***** Tables *****/
/******************/

table {
  width: 100%; 
  margin: 20px 0;
} 

tbody th, tbody { border: none;} 

table {
	background:none repeat scroll 0 0 #FFFFFF;
	border-collapse:collapse;
	font-family:"Lucida Sans Unicode","Lucida Grande",Sans-Serif;
	font-size:11px;
	margin: 0px;
	text-align:left;
	width:100%;
}

.layout-first-main-last table {
  border-collapse: collapse;
  margin: 0 0 10px;
  width: 57%;
}

th, thead th {
 	border-bottom:2px solid #0C5A81;
	 color:#1192af;
	 font-size:13px;
	 font-weight:normal;
	 padding:10px 8px;
}

th a{
 	text-decoration: none !important;
 	color: #1192af !important;
}

tr {
	padding: 0;
}

td {
 	border-bottom:1px solid #CCCCCC;
	padding:6px 8px;
}

tbody tr:hover td {
	color:#1192af;
}

th.active img {
 	display: inline;
}

tr.even, tr.odd{
	background-color: transparent;
}

tr.even td {
	background-color: transparent;
}

tr.odd td {
	background-color: transparent;
}

td.active {
	background-color: transparent;
}

/*********************
 *BreadCrumbs *
 *********************/
.breadcrumb ul{
  margin:0;
  padding:0;
}

.breadcrumb ul li {
  display:inline;
}


/*-------------------------------------------------
 Search bar
 -------------------------------------------------*/

#search-bar {
  position:relative;
}

#search-bar label{
  display:block;
  margin-top:1px;
}

#search-bar #search {
	/*background:url(../images/bg-search.png) no-repeat right center;*/
	width:310px;
	float:right;
	margin-right:10px;
	margin-top:7px;
	height:21px;
	padding-top:2px;
	border-radius:20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.04, rgb(200,200,200)),
    color-stop(0.43, rgb(216,216,216)),
    color-stop(0.45, rgb(238,238,238)),
    color-stop(1, rgb(251,251,251))
	);
	background-image: -moz-linear-gradient(
    center bottom,
    rgb(200,200,200) 4%,
    rgb(216,216,216) 43%,
    rgb(238,238,238) 45%,
    rgb(251,251,251) 100%
	);
	border:1px solid #d7d7d7;
	-moz-box-shadow: inset -1px -1px 1px 1px #ccc;
	-webkit-box-shadow: inset -1px -1px 1px 1px #ccc;
	box-shadow: inset -1px -1px 1px 1px #ccc;

	border-width: 1px 0 0 1px;
}

#search-bar #search .form-text {
	width:97%;
}

#search-bar #search .form-item {
	float:right;
	padding:0;
	margin:0;
	width:90%;
}

#search-bar #search .form-item input {
	background:transparent;
	border:none;
	outline:none;
  margin-top:-34px;
}

#search-bar #search .form-submit {
	background:transparent url(../images/btn-search.png) center no-repeat;
	border:none;
	cursor:pointer;
	text-indent:-999999px;
	width:15px;
	margin-left:10px;
}

